:root {
    --page-bg-color:#FFFFFF;
    --primary-text-color: #212121;
    --primary-content-colot: #757575;
    --page-body-color: #2F303A;
    --hover-color:  #2196F3;
    --card-set-gap: 30px;
    --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }
  
  body {
    background-color: var(--page-bg-color);
    color: var(--primary-text-color);
    line-height: 1.5;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  ul{
    list-style-type: none;

  }

.header-list-item {
    display: flex;
    align-items: center;
}

.header-list-item  > .item + .item{
  margin-left: 50px;
}

.header-list-item  > .item > .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color:var(--primary-text-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.header-list-item > .item:first-child{
  margin-left: 215px;
}

.header-list-item > .item > .link:hover{
  color: var(--hover-color);
}

.main-nav{
  display: flex;
}

.header-list-item  > .item:nth-child(5) {
   margin-left: 250px;
}

.header-list-item > .item > .nav-logo{
  color: var(--hover-color);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}

.header-list-item > .item > .nav-logo > span{
  color: var(--primary-text-color);
}

.body-main {
  display: flex;
  height: 600px;
  background-color: var(--page-body-color);
}

.body-main > .body-main-text{
  margin: auto;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;

}

.body-main > .body-main-btn{
  color: white;
  background-color: var(--hover-color);

}



